name: hospi-mgmt

services:
  django-app:
    build: .
    restart: always
    ports:
      - 127.0.0.1:8000:8000
    env_file:
      - .env
    environment:
      DJANGO_SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS:-127.0.0.1}
      DJANGO_SUPERUSER_PASSWORD: ${SUP:-p4ssw0rd}
      DJANGO_DB_DIR: /data

    volumes:
      - sqlite_data:/data
    
    command: >
      sh -c "
        python3 manage.py migrate &&
        python3 manage.py collectstatic --noinput &&
        python3 manage.py createsuperuser --noinput --username admin --email info@example.com &&
        exec gunicorn --bind 0.0.0.0:8000 --workers 3 webapp.wsgi:application
      "

volumes:
  sqlite_data: