{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}" class="mb-6 inline-flex items-center gap-2 text-sm font-medium text-teal-600 hover:underline">
  <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
  </svg>
  Volver al inicio
</a>
<div class="grid grid-cols-1 gap-6 sm:grid-cols-5">
  {% for space in availability %}
  <div class="rounded-lg border p-6 shadow-sm
    {% if space.occupant %}border-rose-200 bg-rose-50{% else %}border-emerald-200 bg-emerald-50{% endif %}
    {% if forloop.counter > 6 %}sm:col-span-2{% else %}max-w-sm sm:col-span-1{% endif %}
  ">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-900">
      {{ space.pk }} - {{ space.occupant.name|default:'Vacía' }}
    </h5>

    {% if space.occupant %}
      <p class="mb-3 font-normal text-rose-700">
        Peso: <span class="text-slate-900">
          {% if space.occupant.weight %}{{ space.occupant.weight }} kg{% else %}🤷🏼‍♂️{% endif %}
        </span>
      </p>

      <p class="mb-3 font-normal text-rose-700">
        Motivo de consulta: <span class="text-slate-900">
          {{ space.occupant.motive|default:'N/A' }}
        </span>
      </p>

      {% if space.occupant.correa %}
        <p class="mb-3 font-normal text-rose-700">
          Correa: <span class="text-slate-900">
            {{ space.occupant.correa }}
          </span>
        </p>
      {% endif %}

      {% if space.occupant.transportin %}
        <p class="mb-3 font-normal text-rose-700">
          Transportín: <span class="text-slate-900">
            {{ space.occupant.transportin }}
          </span>
        </p>
      {% endif %}

      {% if space.occupant.attention %}
        <p class="mb-3 font-normal text-rose-700">
          ‼️ Attention: <span class="text-slate-900">
            {{ space.occupant.attention }}
          </span>
        </p>
      {% endif %}

      <div class="mt-5 flex justify-center gap-3">
        <a href="{% url 'edit' pk=space.occupant.pk %}" rel="noopener">
          <button
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300">
            Editar
            <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </a>

        <a href="{% url 'delete' pk=space.occupant.pk %}" rel="noopener">
          <button
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-600 rounded-lg hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300">
            Borrar
            <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </a>
      </div>
    {% else %}
      <div>
        <a href="{% url 'create' pk=space.pk %}" rel="noopener">
          <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300">
            Crear
            <svg class="w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </a>
      </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
